include common/mixins/head.pug

html
    head

        +headerSEO({description: 'DESCRIPTION', keywords: 'KEYWORDS'})
        title= title

    body
        - if (typeof(title) !== 'undefined')
            h1= title

        - var test = message

        each entry in test
            div= entry.content
