html
    head
        meta(name="description", content= page_description)
        meta(name="keywords", content= page_keywords)
        title= seo_title

    body
        h1= title

        p= content
