html
    head
        meta(name="description", content= page_description)
        meta(name="keywords", content= page_keywords)
        title= seo_itle

    body
        h1= title


        p= content
